In [1]:
import pandas as pd
import numpy as np

In [2]:
car_sales = pd.read_csv("../data/car-sales.csv")
cars_ext = pd.read_csv("../data/car-sales-extended.csv")

### 1. If you want to install any packages within the notebook

In [67]:
# Install Seaborn package in current environment (if you don't have it)
import sys
#!conda install --yes --prefix {sys.prefix} seaborn

### 2. Working with dates

In [4]:
df_date = pd.read_csv("../data/bluebook-for-bulldozers/TrainAndValid.csv",
                 low_memory=False,
                 parse_dates=["saledate"])
# Acess the `saledate` column with saledate.dt.day to get the date, and so on

FileNotFoundError: [Errno 2] File ../data/bluebook-for-bulldozers/TrainAndValid.csv does not exist: '../data/bluebook-for-bulldozers/TrainAndValid.csv'

### 3. Sorting Values

In [ ]:
# Sort DataFrame in date order
df_date.sort_values(by=["saledate"], inplace=True, ascending=True)

### 4. Check How Many Values Are There In A  Particular Column

In [ ]:
car_sales.Make.value_counts(),car_sales.Price.value_counts()

### 5. To Check Which Dtype is it?

In [ ]:
# Here checking whether it is string or not
pd.api.types.is_string_dtype(car_sales["Price"])

In [ ]:
car_sales.head()

### 6.To Convert String To Float

In [8]:
car_sales.Price = car_sales.Price.str.replace('[$,]','').astype(float)

AttributeError: Can only use .str accessor with string values!

### 7. Groupby

In [38]:
car_sales.groupby("Make")['Price'].max()

Make
BMW       22000.0
Honda      7500.0
Nissan     9700.0
Toyota     7000.0
Name: Price, dtype: float64

In [42]:
car_sales.groupby("Price").sum()

         Odometer (KM)  Doors
Price
3500.0          213095      4
4000.0          150043      4
4500.0           99213      4
5000.0           87899      4
6250.0           60000      4
7000.0           87287      7
7500.0           45698      4
9700.0           31600      4
22000.0          11179      5

In [31]:
car_sales.groupby(["Price"]).min()

'''So what has happened here? This grops our data frame wrt to Price. Applies min()
to all other numeric columns. Here under 7K category Toyota and Honda produced cars 3 and 4 Doors respectively. 
So under 7k, Doors are displayed as 3 (3<4) and make as Honda since Honda < Toyota (PROOF BELOW!)'''

           Make Colour  Odometer (KM)  Doors
Price
3500.0   Nissan  White         213095      4
4000.0   Toyota  White         150043      4
4500.0   Toyota  Green          99213      4
5000.0    Honda    Red          87899      4
6250.0   Toyota  White          60000      4
7000.0    Honda   Blue          32549      3
7500.0    Honda   Blue          45698      4
9700.0   Nissan  White          31600      4
22000.0     BMW  Black          11179      5

In [32]:
car_sales

     Make Colour  Odometer (KM)  Doors    Price
0  Toyota  White         150043      4   4000.0
1   Honda    Red          87899      4   5000.0
2  Toyota   Blue          32549      3   7000.0
3     BMW  Black          11179      5  22000.0
4  Nissan  White         213095      4   3500.0
5  Toyota  Green          99213      4   4500.0
6   Honda   Blue          45698      4   7500.0
7   Honda   Blue          54738      4   7000.0
8  Toyota  White          60000      4   6250.0
9  Nissan  White          31600      4   9700.0

In [35]:
if('Honda' < 'Toyota'):
    print(True)

True

### 8. Info. The info() function is used to print a concise summary of a DataFrame. This method prints information about a DataFrame including the index dtype and column dtypes, non-null values and memory usage.

In [43]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     float64
dtypes: float64(1), int64(2), object(2)
memory usage: 528.0+ bytes

### 9. items

In [51]:
car_sales.items

<bound method DataFrame.items of      Make Colour  Odometer (KM)  Doors    Price
0  Toyota  White         150043      4   4000.0
1   Honda    Red          87899      4   5000.0
2  Toyota   Blue          32549      3   7000.0
3     BMW  Black          11179      5  22000.0
4  Nissan  White         213095      4   3500.0
5  Toyota  Green          99213      4   4500.0
6   Honda   Blue          45698      4   7500.0
7   Honda   Blue          54738      4   7000.0
8  Toyota  White          60000      4   6250.0
9  Nissan  White          31600      4   9700.0>

#### Wondering what `items` is performing? Imagine a dictionay. Its a `key:value` pair. The `items` takes in the dictionary

In [55]:
# Lets see an example
rdict = {1:"A",
         2:"B",
         3:"C"}
for label,content in car_sales.items():
    print(label)# See this prints all the column names

Make
Colour
Odometer (KM)
Doors
Price

In [56]:
for label,content in car_sales.items():
    print(content)

0    Toyota
1     Honda
2    Toyota
3       BMW
4    Nissan
5    Toyota
6     Honda
7     Honda
8    Toyota
9    Nissan
Name: Make, dtype: object
0    White
1      Red
2     Blue
3    Black
4    White
5    Green
6     Blue
7     Blue
8    White
9    White
Name: Colour, dtype: object
0    150043
1     87899
2     32549
3     11179
4    213095
5     99213
6     45698
7     54738
8     60000
9     31600
Name: Odometer (KM), dtype: int64
0    4
1    4
2    3
3    5
4    4
5    4
6    4
7    4
8    4
9    4
Name: Doors, dtype: int64
0     4000.0
1     5000.0
2     7000.0
3    22000.0
4     3500.0
5     4500.0
6     7500.0
7     7000.0
8     6250.0
9     9700.0
Name: Price, dtype: float64

### 10. Converting one datatype into `CATEGORICAL`

In [57]:
# Lets convert "Make" into category
car_sales_copy = car_sales.copy()

In [58]:
car_sales_copy["Make"] = car_sales_copy["Make"].astype("category").cat.as_ordered()

In [62]:
car_sales_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     category
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     float64
dtypes: category(1), float64(1), int64(2), object(1)
memory usage: 650.0+ bytes

### 11. To see the categories

In [63]:
car_sales_copy.Make.cat.categories

Index(['BMW', 'Honda', 'Nissan', 'Toyota'], dtype='object')

### 12. To See The Category Codes

In [64]:
car_sales_copy.Make.cat.codes

0    3
1    1
2    3
3    0
4    2
5    3
6    1
7    1
8    3
9    2
dtype: int8

### 13. Check `Missing` Values

In [65]:
# Check missing values
car_sales_copy.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

### 14. Feature Importance

In [ ]:
trained_model.feature_importances_